<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecom.mapper.ReturnMapper">
    <insert id="insertrdoList">
        insert into rdoList values 
        <foreach collection="rdos"  separator="," item="rdo" >
            (#{rdo})
        </foreach>
        
    </insert>
    <update id="truncateTempRDOTable">
        truncate table rdoList
    </update>

    <update id="createTempRDOTable">
        CREATE temporary TABLE IF NOT EXISTS `rdoList` (
            rdo varchar(30)
            )
    </update>
    <update id="loadDataInline">


    </update>

    <select id="searchByRDO" resultType="com.ecom.pojo.entity.Return">

        select rdo_id,return_tracking_id,tracking_id,Sku,rma_number,
               so_id,po_Id,rso_id,Channel,current_refund_status,
               label_generated_ts,refund_dt
        from return_master
        join rdoList
        on return_master.rdo_id = rdoList.rdo
    </select>
    <select id="searchByPO" resultType="com.ecom.pojo.entity.Return">
        select po_lookup_key, rdo_id,return_tracking_id,tracking_id,Sku,rma_number,
               so_id,po_Id,rso_id,Channel,current_refund_status,
               label_generated_ts,refund_dt
        from return_master
        join rdoList
        on lower(return_master.po_lookup_key) = lower(rdoList.rdo)

    </select>
</mapper>