<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecom.mapper.vertica.VerticaMapper">

    <select id="test2" resultType="java.lang.String">
        select rdo_id from edw.fact_returns_v4
                      where return_shipped_ts > '2024-06-10' and
                            return_shipped_ts < '2024-06-13' and
                            is_active = 1 and
                            return_tracking_id is not null and
                             rdo_id is not null

    </select>
</mapper>